
@{
    ViewBag.Title = "AboutUs";
}

<h2>AboutUs</h2>

<h3> This is a Blog Website Project </h3>

<p> The purpose of this project is to iumplement CRUD feature and implement authorization and authentication w.r.t different roles.</p>

<p> The final objective is to prepare a functional bloging site. Where user can create account and blog and post them. 
    Admin can also login, modify user details, and do all the features of user and also delete user or any particular
    reported post.</p>
